code/__pycache__/methods.cpython-38.pyc
code/__pycache__/run.cpython-38.pyc
code/exact/__pycache__/__init__.cpython-38.pyc
code/exact/__pycache__/ex_partition.cpython-38.pyc
code/heuristics/__pycache__/__init__.cpython-38.pyc
code/heuristics/__pycache__/gd_partition.cpython-38.pyc
